* {
    box-sizing: border-box;
}

body {
    background     : #f69a73;
    justify-content: center;
}

.decor {
    position     : absolute;
    top          : 50%;
    left         : 50%;
    margin-right : -50%;
    transform    : translate(-50%, -50%);
    max-width    : 400px;
    background   : white;
    border-radius: 30px;
}

.form-left-decoration,
.form-right-decoration {
    content      : "";
    position     : absolute;
    width        : 50px;
    height       : 20px;
    background   : #f69a73;
    border-radius: 20px;
}

.form-left-decoration {
    bottom: 60px;
    left  : -30px;
}

.form-right-decoration {
    top  : 60px;
    right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content      : "";
    position     : absolute;
    width        : 50px;
    height       : 20px;
    border-radius: 30px;
    background   : white;
}

.form-left-decoration:before {
    top: -20px;
}

.form-left-decoration:after {
    top : 20px;
    left: 10px;
}

.form-right-decoration:before {
    top  : -20px;
    right: 0;
}

.form-right-decoration:after {
    top  : 20px;
    right: 10px;
}

.circle {
    position     : absolute;
    bottom       : 80px;
    left         : -55px;
    width        : 20px;
    height       : 20px;
    border-radius: 50%;
    background   : white;
}

.form-inner {
    padding: 50px;
}

.form-inner input {
    display      : block;
    width        : 100%;
    padding      : 0 20px;
    margin-bottom: 10px;
    background   : #E9EFF6;
    line-height  : 40px;
    border-width : 0;
    border-radius: 20px;
    font-family  : 'Roboto', sans-serif;
}

.form-inner input[type="button"],
.form-inner input[type="submit"] {
    margin-top   : 30px;
    background   : #f69a73;
    border-bottom: 4px solid #d87d56;
    color        : white;
    font-size    : 14px;
}

.form-inner h1 {
    margin-top   : 0;
    margin-bottom: 20px;
    font-family  : 'Roboto', sans-serif;
    font-weight  : 500;
    font-size    : 24px;
    color        : #707981;
    text-align   : center;
}

.form-inner p,
.form-inner a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size  : 18px;
    color      : #707981;
    text-align : center;
}

.form-inner a {
    font-size: 16px;
    display  : block;
}